.mainContainer {
    padding-bottom: 10px;
    font-size: 20px;
}

.title {
    margin: 10px 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 3px 0 0 10px;
}

.projectName {
    padding-right: 10px;
}

.projectLink {

}