html {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  background-color: #223843;
}

a:link {
  color: #DBD3D8;
}

a:visited {
  color: #d8b4a0;
}

a:hover {
  color: #d8b4a0;
}

a:active {
  color: #d8b4a0;
}