.mainContainer {
    display: flex;
    flex-direction: column;
}

.title {
    padding: 2.5px;
    font-size: 18px;
}

.link {
    padding: 2px 0;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}